<a href="https://colab.research.google.com/github/MLJaro/CPEN-21A-ECE-2-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro to Python Programmming

In [1]:
#Python Indention
if 5>2:
   print("Five is greater than two")

Five is greater than two

In [3]:
##Python Variable:

In [4]:
x=1
a, b=0, 1
a,b,c= "zero","one","two"
print(x)
print(a)
print(b)
print(c)

1
zero
one
two

In [5]:
d = "Lavern" #This is a string
D = "Mayven"
print(d)
e="Miben"
print(e)
print(D)

Lavern
Miben
Mayven

In [6]:
print(type(d)) #This is a type function
print(type(x))

<class 'str'>
<class 'int'>

#Casting

In [7]:
f = float(4)
print(f)
g = float(5)
g = int(5)

4.0

#Multiple Variables with One Value

In [8]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

#Operations in Python

In [9]:
x = 5
y = 7
x += y #This is the same as x = x + y
print(x+y)
print(x*y)
print(x)

19
84
12

In [10]:
x = 5
y = 7

not(x>y or y==x)

True

In [11]:
x = 5
y = 7

not(x>y or y==x)

True

In [12]:
x is y

False

In [13]:
x is not y

True